/* src/components/ProfilePictureEditor/ProfilePictureEditor.css */
.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture-img {
    position: relative;
    display: inline-block;
    width: 150px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;

    /* Icon size */
    width: 30px; 
    height: 30px;

    /* Font inside icon size */
    font-size: 20px; 
}

.edit-popup {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 20;
}
