body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('/public/img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('/public/img/bg.jpg');
}


.tabcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 80px;
  padding-bottom: 100px;
  background-image: url('/public/img/bg.jpg');
}
