/* .home-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF2400;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button:hover {
    background-color: #ff6347;
} */
