/* src/components/ProfilePictureEditor/ProfilePictureEditor.css */
.profile-picture-container {
    position: relative;
    display: inline-block;
}

.profile-picture-img {
    position: relative;
    display: inline-block;
    width: 150px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.edit-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center; /* Centering vertically */
    justify-content: center; /* Centering horizontally */
    font-size: 20px; /* Adjust icon size */
    color: red; /* Icon color */
}


.edit-popup {
    position: fixed;
    z-index: 2;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 500px;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Close Button (X) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

/* Input and Buttons */
input[type="file"] {
    margin-bottom: 10px;
}

.profile-image-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.profile-image-button:hover {
    background-color: #0056b3; 
}

/* Error and Success Messages */
.error-message,
.success-message {
    text-align: center;
    margin-top: 10px;
}

.error-message {
    color: #dc3545;
}

.success-message {
    color: #28a745;
}