/* src/components/Djs/Djs.css */

.scrollable-container {
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffffff;
}

.filter-controls {
    padding: 20px 30px;
    height: 400px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter-controls .form-control,
.filter-controls .form-select {
    width: 100%;
    max-width: 100%;
}


.form-select:disabled {
    background-color: #e9ecef; 
    cursor: not-allowed;
}


.dj-list {
    padding: 20px 30px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: 300px; 
    overflow-y: scroll; 
}


.favourite-icon {
    font-size: 20px;
    line-height: 1;
    color: #ff5c5c;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heart-container {
    width: 50px;
    height: 50px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-right: 10px;
}


.favourites {
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; 
}


.favourites .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Webkit browsers (Chrome, Safari) */
.favourites::-webkit-scrollbar {
    width: 12px;
}

.favourites::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.favourites::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.filter-controls .form-control,
.filter-controls .form-select {
    width: 100%;
    max-width: 100%; 
}


.list-group-item {
    margin-bottom: 10px;
}


/* Responsive */
@media (max-width: 767px) {
    .col-md-4, .col-md-6, .col-md-8 {
        width: 100%;
    }
}
